@font-face {
    font-family: courier-regular;
    src: url(../assets/font/CourierPrime-Regular.ttf);
}

@font-face {
    font-family: courier-bold;
    src: url(../assets/font/CourierPrime-Bold.ttf);
}

@font-face {
    font-family: courier-italic;
    src: url(../assets/font/CourierPrime-Italic.ttf);
}

body {
    top: 0;
    left: 0;
    margin: 0;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
}

.container-2 {
    height: 1080px;
    background-color: #A8DEE0;
}

.nav {
    position: relative;
    font-family: courier-regular;
    background-color: #85CBCC;
    margin: 0;
    top: 0;
    left: 0;
    border: solid black;
    border-radius: 0 0 10px 10px;
    box-shadow: 0px 6px black;
}

.nav ul {
    list-style-type: none;
    margin: 0 68px 0 68px;
    padding: 0;
    overflow: hidden;
}

.nav li {
    float: left;
    margin-bottom: 0;
}

.nav li a {
    display: block;
    text-align: center;
    padding: 20px 15px;
    text-decoration: none;
    color: black;
}

.nav li img {
    width: 100px;
    height: auto;
    margin-top: 5px;
    padding: 10px 1px;
}